.background{
    background-color: aquamarine;
}

.center{
    margin-left: 400px;
}

.header{
    color: rgb(84, 63, 63);
    font-weight: bolder;
}

.font{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}